* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 100%;
}

figure + .bio {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.container {
    display: grid;
    min-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr .1fr .3fr .3fr .3fr .3fr .3fr .25fr;
    grid-template-areas: "nav nav nav"
        "title title title"
        "pres bio_pres bio_pres"
        "bio_vp bio_vp vp"
        "market bio_market bio_market"
        "bio_money bio_money money"
        "outreach bio_outreach bio_outreach"
        "footer footer footer";
}

.nav {
    grid-area: nav;
}

.nav img {
    max-width: 115.375px;
}

.title {
    font-size: 5rem;
    color: #98badd;
}
.pres {
    grid-area: pres;
}

.bio_pres {
    grid-area: bio_pres;
    border: #98badd 2px solid;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

.vp {
    grid-area: vp;
}

.bio_vp {
    grid-area: bio_vp;
    border: #98badd 2px solid;
    text-align: center;
    margin-bottom: 5%;
}

.bio_vp p {
    padding-left: 5%;
}

.bio_vp h1 {
    padding-left: 5%;
}

.market {
    grid-area: market;
}

.bio_market {
    grid-area: bio_market;
    border: #98badd 2px solid;
    text-align: center;
    margin-bottom: 5%;
}

.money {
    grid-area: money;
}

.bio_money {
    grid-area: bio_money;
    border: #98badd 2px solid;
    text-align: center;
    margin-bottom: 5%;
}

.bio_money p {
    padding-left: 5%;
}

.bio_money h1 {
    padding-left: 5%;
}

.outreach {
    grid-area: outreach;
}

.bio_outreach {
    grid-area: bio_outreach;
    border: #98badd 2px solid;
    text-align: center;
    margin-bottom: 5%;
}

h1 {
    color: #ed1652;
}

figure {
    width: 50%;
    margin: 0 auto;
    padding: 5%;
}

.container img {
    width: 100%;
    transition: transform 300ms ease-in-out;
}

.container .even:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.container .odd:hover {
    transform: scale(1.2);
    cursor: pointer;
}





/*HEADER AND FOOTER CODE*/
* {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: center;
}

* h1 {
    font-family: 'Bitter', serif;
}

* a:hover {
    color: #99badd;
    text-decoration: underline;
}

/*NAV BAR*/
.nav_menu ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.nav_menu li {
    display: inline-block;
    background: white;
    margin-right: 1%;
    margin-top: 2%;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
}

.nav_menu li a {
    color: #6b5f64ff;
}

.nav_menu li:hover a {
    color: #99badd;
    text-decoration: underline;
}

.nav {
    border-bottom: 3px solid #ed1652;
}

.slicknav_menu {
    display: none;
}

.footer {
    color: white;
    background: #6b5f64ff;
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    grid-area: footer;
    min-width: 100% !important;
}

.contact {
    padding-top: 25px;
    font-size: large;
}

.footer a {
    color: white;
}


@media only screen and (max-width: 767px) {
    .container {
        display: block;
    }




    /*SLICKNAV*/
    .nav_menu ul li a {
        font-size: 0.875em;
    }

    /* Hide the #nav_menu at 767 px */
    .nav_menu {
        display: none;
    }

    /* Display the slicknav version of the menu at 767px */
    .slicknav_menu {
        display: block;
    }

    .slicknav_menu .slicknav_menutxt {
        font-family: 'Open Sans', sans-serif;
    }

    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
        display: block;
        max-width: 100px;
    }

    .slicknav_nav ul {
        margin: 0 0 0 20px;
        text-align: center;
    }
}

/* slicknav css */

/*!
* SlickNav Responsive Mobile Menu v1.0.10
* (c) 2016 Josh Cope
* licensed under MIT
*/
.slicknav_btn {
    position: relative;
    display: block;
    float: left;
    padding: 0.438em 0.625em 0.438em 0.625em;
    line-height: 1.125em;
    cursor: pointer;
}

.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
    margin-top: 0.188em;
}

.slicknav_menu {
    *zoom: 1;
}

.slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left;
}

.slicknav_menu .slicknav_icon {
    float: left;
    width: 1.125em;
    height: 0.875em;
    margin: 0.188em 0 0 0.438em;
}

.slicknav_menu .slicknav_icon:before {
    background: transparent;
    width: 1.125em;
    height: 0.875em;
    display: block;
    content: "";
    position: absolute;
}

.slicknav_menu .slicknav_no-text {
    margin: 0;
}

.slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.slicknav_menu:before {
    content: " ";
    display: table;
}

.slicknav_menu:after {
    content: " ";
    display: table;
    clear: both;
}

.slicknav_nav {
    clear: both;
}

.slicknav_nav ul {
    display: block;
}

.slicknav_nav li {
    display: block;
}

.slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em;
}

.slicknav_nav .slicknav_item {
    cursor: pointer;
}

.slicknav_nav .slicknav_item a {
    display: inline;
}

.slicknav_nav .slicknav_row {
    display: block;
}

.slicknav_nav a {
    display: block;
}

.slicknav_nav .slicknav_parent-link a {
    display: inline;
}

.slicknav_brand {
    float: left;
}

.slicknav_menu {
    font-size: 16px;
    box-sizing: border-box;
    background: white;
    padding: 5px;
}

.slicknav_menu * {
    box-sizing: border-box;
}

.slicknav_menu .slicknav_menutxt {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 3px #000;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: #fff;
}

.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.slicknav_nav {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 0.875em;
    list-style: none;
    overflow: hidden;
}

.slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px;
}

.slicknav_nav .slicknav_row {
    padding: 5px 10px;
    margin: 2px 5px;
}

.slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #6b5f64ff;
}


.slicknav_nav .slicknav_txtnode {
    margin-left: 15px;
}

.slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0;
}

.slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0;
}

.slicknav_brand {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    padding: 7px 12px;
    height: 44px;
}